.country{
    /* margin: 15px; */
    margin: 10px;
    padding: 15px;
    background-color: bisque;
    border-radius: 15px;
}

.countries-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}

.country img{
    width: 150px;
}